*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 500px;
    height: 200px;
    background-color: black;
    color: orange;
    font-size: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}